@import '../main.styl'
.todoItem
    padding 8px 10px
    background linear-gradient(left, #C9D6FF, #E2E2E2)
    border-top 1px solid #C9D6FF
    border-bottom 1px solid #C9D6FF
    transition('background-color 0.2s ease-in')
    &:hover
        background linear-gradient(left, #E0EAFC, #CFDEF3)
