@import '~nib/lib/nib/index.styl'
color_hastagram_gray = #E7EFF6
color_hastagram_white = #FFFFFF
color_hastagram_red = #E58475
color_hastagram_teal = #4B86B4
color_hastagram_navy = #366183

html, body
    margin 0
    padding 0
    background linear-gradient(left, #74ebd5, #ACB6E5)

*
    box-sizing border-box
